
/* styles for menubar */

.menu{
    display: inline;
    float:right;
    
}

.logo{
    width: 250px;

}

.home{
    margin: 10px;
    padding: 20px;
    
}

.home2{
    padding:20px;
}

/* ========== */

/* row 2 - slider and image with start button  */

.slide{
    position: relative;
}


.pic{
    width: 100%;
    height: auto;
    max-height: 80vh;
}


.button-finder{
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 50px;
    right: 30px;

}


.start{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid rgb(143, 131, 131);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.start:hover{
    background-color: rgb(0, 255, 64);
    transition: 0.5s;
    cursor: pointer;
}