.berater-box {
	border: 2px solid #635ACC;
	border-radius: 20px;
    padding: 3px;
    border-style: inset;
    margin: auto;
	max-width: 1200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:20px;
}

.berater-box img {
	display:block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.foot-btn-div {
	float: right;
}

@media (max-width: 600px) {
	.berater-box img {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	
	.link-btn {
		padding:0 2px;
	}
	
	.link-btn span {
		font-size:10px;
		white-space: nowrap;
	}
	
	
	.link-btn:hover span {
		padding-right: 0 !important;
	}
	
	.link-btn span:after {
		content:"" !important;
	}
	
	.foot-btn {
		display: block;
		margin-bottom: 10px;
	}

	.foot-btn-div {
		float:none;
	}
}

.link-btn {
  display:inline-block;
  background-color: #1D94C4;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  transition: all 0.5s;
  border-radius: 4px;
}

.link-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.link-btn span:after {
	content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.8s;
	color:#fff;
}

.link-btn:hover span {
    padding-right: 150px;
}

.link-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.link-btn:hover,.link-btn:active {
	background-color: #1D94C4;
}	
	
.height-110 {
	min-height:125px;
	font-size: 14px;
}

.foot-btn {
	border: 1px solid #ccc;
	border-radius:4px;
	font-weight:bold;
}

.foot-btn {
	border: 1px solid #ccc;
	border-radius:4px;
	font-weight:bold;
	color: #1c94c4;
	background-image: linear-gradient(#fdfdfd, #ddd, #fdfdfd);
	transition:all .2s;
}

.foot-btn:hover {
	border: 1px solid #fbcb09;
	border-radius:4px;
	font-weight:bold;
	color: #c77405;
	background-image: linear-gradient(#fdfdfd, #ddd, #fdfdfd);
}

.pay-btn {
    background: none;
    box-shadow: none;
    border: none;
}
.pay-btn:hover {
    background: none;
    box-shadow: none;
    border: none;
}

.break-all {
	word-break: break-all;
}

#berater-logout {
	background:none;
	border:none;
	font-weight:bold;
	cursor:pointer;
}
